<mat-toolbar color="primary">
    <span>Music-App</span>
    <span class="spacer"></span>
    <div style="padding: 16px;">
        <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
        <button mat-button routerLink="/songs" routerLinkActive="active">Songs</button>
        <button mat-button routerLink="/playlists" routerLinkActive="active">Playlists</button>
        <button mat-button routerLink="/contacto" routerLinkActive="active">Contacto</button>
    </div>
</mat-toolbar>
<div class="container" style="margin: 16px;">
    <h1>BIENVENIDO A Music-App</h1>
    <p style="font-size: 16pt;">Nuestra página de música es el lugar perfecto para descubrir y escuchas las últimas canciones
        y playlist de tus artistas favorítos. Tenemos una amplia variedad de canciones de distintos géneros,
        así como playlists con distinos géneros. Además, puedes crear tus propias playlist para compartirlas con tus
        amigos. ¡Únete a nosotros!</p>
</div>


